modules = ["web", "nodejs-20", "java-graalvm22.3", "bash", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export MAVEN_HOME=/home/runner/workspace/maven/apache-maven-3.9.9 && export PATH=$MAVEN_HOME/bin:$PATH && cd backend && mvn spring-boot:run"
waitForPort = 8080

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "-c", "export MAVEN_HOME=/home/runner/workspace/maven/apache-maven-3.9.9 && export PATH=$MAVEN_HOME/bin:$PATH && cd backend && java -jar target/showroom-0.0.1-SNAPSHOT.jar &  cd frontend && npx serve -s dist -l 5000"]
build = ["bash", "-c", "export MAVEN_HOME=/home/runner/workspace/maven/apache-maven-3.9.9 && export PATH=$MAVEN_HOME/bin:$PATH && cd backend && mvn clean package -DskipTests && cd ../frontend && npm install && npm run build"]

[userenv]

[userenv.shared]
MAIL_USERNAME = "jimmyxsaran@gmail.com"
MAIL_PASSWORD = "Jimmy@2@19"
